<div class="col-md-8 col-md-offset-2">
  <h3><strong>Welcome to Storeman</strong> <small>Click the "<i>Log in or register</i>" button above to get started.</small></h3>
  <hr />
  <p>Storeman is a web app that helps people manage where they have stored stuff.</p>

  <p>You can have <u>locations</u>, <u>containers</u>, and <u>items</u>. Containers can be at a location, and items can be in a location or a container.</p>
<br>
  <p>For example, I have 2 boxes<u>(containers)</u> and a chair<u>(item)</u> in storage in my mother's attic<u>(location)</u>. The first box contains comic books<u>(items)</u>, the second has my red hat<u>(item)</u> and blue hat<u>(item)</u>.</p>

  <p>You don't have to have locations or containers, if you'd prefer.</p>

  <p>
    You can also print out a <a href="https://en.wikipedia.org/wiki/QR_code">QR Code</a> for any items, locations, or containers
    by clicking the QR Code links in the app. <small>These can be taped to whatever, and when scanned with your phone, they'll take you to the page.
    This works really well for storage boxes, like the hat box above, so that you can see inside them without unstacking anything on top.</small>
  </p>
</div>