<div class="alert alert-danger" ng-hide="!error" role="alert">{{error}}</div>
<div class="alert alert-success" ng-hide="!msg" role="alert">{{msg}}</div>
<div class="btn-group">
  <a class="btn btn-default" ng-href="api/?data">Export</a></div>
<hr>
<h1>Locations</h1>
<a ng-href='#/location/edit'>Create Location</a>
<location-list></location-list>
<hr>
<h1>Unlocated Containers</h1>
<a ng-href='#/container/edit'>Create Container</a>
<container-list></container-list>
<hr>
<h1>Uncontained Items</h1>
<a ng-href='#/item/edit'>Create Item</a>
<item-list></item-list>